<a href="https://colab.research.google.com/github/Disha243/Data-Modelling-ML/blob/master/Data_Modelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importing dependencies
%tensorflow_version 2.x
import tensorflow as tf
import pandas as pd
import numpy as np
import math

TensorFlow 2.x selected.

In [0]:
#Limiting pandas to display 15 rows and two digits after decimal point
pd.options.display.max_rows = 15
pd.options.display.float_format = '{:.2f}'.format

Load the dataset with Pandas. Here we are using the car dataset(csv file) where we use features of the car to predict its price. The column name/header(feature name) is absent. We obtain this from Automobile Data set

In [0]:
#Providing the feature/column names
feature_names = ['symboling', 'normalized-losses', 'make', 'fuel-type',
        'aspiration', 'num-doors', 'body-style', 'drive-wheels',
        'engine-location', 'wheel-base', 'length', 'width', 'height', 'weight',
        'engine-type', 'num-cylinders', 'engine-size', 'fuel-system', 'bore',
        'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
        'highway-mpg', 'price']
  
#Loading the CSV file
car_data = pd.read_csv('https://storage.googleapis.com/mledu-datasets/cars_data.csv', 
sep = ',', header= None,  names = feature_names, nrows = 15)

In [11]:
car_data

    symboling normalized-losses         make  ... city-mpg highway-mpg  price
0           3                 ?  alfa-romero  ...       21          27  13495
1           3                 ?  alfa-romero  ...       21          27  16500
2           1                 ?  alfa-romero  ...       19          26  16500
3           2               164         audi  ...       24          30  13950
4           2               164         audi  ...       18          22  17450
5           2                 ?         audi  ...       19          25  15250
6           1               158         audi  ...       19          25  17710
7           1                 ?         audi  ...       19          25  18920
8           1               158         audi  ...       17          20  23875
9           0                 ?         audi  ...       16          22      ?
10          2               192          bmw  ...       23          29  16430
11          0               192          bmw  ...       23          29  16925
12          0               188          bmw  ...       21          28  20970
13          0               188          bmw  ...       21          28  21105
14          1                 ?          bmw  ...       20          25  24565

[15 rows x 26 columns]